
<style>

.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.remark-slide-content {
  font-size: 20px;
  padding: 20px 80px 20px 80px;
}
.remark-code, .remark-inline-code {
  background: #f0f0f0;
}
.remark-code {
  font-size: 20px;
}
.huge .remark-code { /*Change made here*/
  font-size: 200% !important;
}

.med .remark-code { /*Change made here*/
  font-size: 75% !important;
}

.small .remark-code { /*Change made here*/
  font-size: 50% !important;
}

.small2 .remark-code { /*Change made here*/
  font-size: 45% !important;
}

.tiny .remark-code { /*Change made here*/
  font-size: 35% !important;
}

.blue       { color:   #005EB8 }
.green      { color:   #009639 }
.pink       { color:   #AE2573 }
.red        { color:   #DA291C }
.warmyellow { color:   #FFB81C }

</style>

